.img-rounded {
    width: 180px;
    height: 140px;
}
a {
    color: black;
}
.profile-img,
.profile-img img {
    width:50px;
    height:50px;
}
.profile-img img {
    max-width: 100%;
    object-fit: cover;
}